* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Задание №1 и №2 ( кнопки ) */
[data-start],
[data-stop] {
  width: 200px;
  height: 80px;

  font-size: 28px;
  text-align: center;
  color:rgb(120, 120, 120);

  background-color: #f7d6cd;
  border-radius: 22px;
  border: 1px solid rgb(120, 120, 120);

  cursor: pointer;

  transition: 250ms;
}

[data-start]:hover,
[data-stop]:hover {
  background-color: #f77d5c;
}

[data-start]:focus,
[data-stop]:focus {
  border: 3px solid rgb(60, 60, 60);
  background-color: #f77d5c;
}

[data-start]:disabled,
[data-stop]:disabled {
  color: rgb(60, 60, 60);
  opacity: 0.8;
  background-color: rgba(59, 59, 59, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

#datetime-picker {
  margin-bottom: 40px;
  margin-right: 40px;

  width: 380px;
  height: 60px;

  font-size: 26px;
  text-align: center;
  color: rgb(60, 60, 60);

  background-color: #f7d6cd;
  border-radius: 22px;
  border: 1px solid rgb(120, 120, 120);

  transition: 250ms;
}

#datetime-picker:focus {
  border: 1px solid #fff;
  background-color: #f77d5c;
}

.timer {
  padding: 25px 25px;
  width: 625px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 22px;
  letter-spacing: 0.04em;
  color: rgb(60, 60, 60);

  border: 1px solid rgb(120, 120, 120);
  border-radius: 22px;

  background-color: #f7d6cd;

  
}

.value {
  position: relative;
  padding: 5px;
  background-color: #f77d5c;
  border-radius: 8px;
  font-size: 34px;
}

/* Task #3 */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  margin-bottom: 10px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
  height: 40px;

  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(60, 60, 60);

  background-color: #f7d6cd;
  border-radius: 8px;
  border: none;

  transition: 250ms;
}

.form input {
  padding: 5px;
  width: 180px;
  height: 100%;

  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;

  transition: 250ms;
}

.form input:hover {
  background-color: rgba(255, 255, 255, 1);
}

.form input:focus {
  outline: 3px solid rgba(255, 255, 255, 1);
  border: 4px solid #f77d5c;
  background-color: rgba(255, 255, 255, 1);
}

.form button {
  width: 350px;
  height: 40px;

  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #3b3b3b;

  background-color: #f77d5c;
  border-radius: 5px;
  border: 1px solid #3b3b3b;

  cursor: pointer;

  transition: 250ms;
}

.form button:hover {
  background-color: #f77d5c;
}

.form button:focus {
  outline: 3px solid #f77d5c;
  border: 3px solid #fff;
  background-color: rgba(128, 203, 196, 1);
}